/* table {
    table-layout: fixed;
    word-wrap: break-word;
} */

.table-custom tbody tr.highlight td {
    background-color: #7e1919;
}

.custom_error {
    white-space: nowrap;
}
    
.file-upload {
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
  }
  
  .file-upload input {
    overflow: hidden;
    width: 0;
  }